$color-primary: #1DB954;
$color-secondary: #aeddbe;
$color-label1: #FFFFFF;
$color-label2: #B3B3B3;
$color-dark1: #000000;
$color-dark2: #191414;
$color-dark3: #181818;
$color-dark-border: #282828;

body {
  background-color: $color-dark2;
}

.color-label-sub {
  color: $color-label2;
}